SECRET_KEY=changeme
BASE_URL=https://planka-new.homeclean.co.uk
ZOHO_MAIL_API_BASE_URL=https://mail.zoho.com
ZOHO_MAIL_ACCOUNT_ID=
ZOHO_MAIL_OAUTH_TOKEN=
ZOHO_OAUTH_ACCOUNTS_BASE_URL=https://accounts.zoho.com
ZOHO_OAUTH_CLIENT_ID=
ZOHO_OAUTH_CLIENT_SECRET=
ZOHO_OAUTH_REDIRECT_URI=
ZOHO_OAUTH_SCOPE=ZohoMail.messages.READ,ZohoMail.accounts.READ
