:global(#app) {
  .field {
    margin-bottom: 1rem;
  }

  .text {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: #5e6c84;
  }

  .checkbox {
    margin-bottom: 1rem;
  }
}
