:global(#app) {
  .container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.375rem;
    width: 300px;
    max-height: 400px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 4px;
    scrollbar-gutter: stable;
    box-shadow: 0 8px 24px rgba(9, 30, 66, 0.2);
  }
}
